.Item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;

	&__content {
		display: flex;
		align-items: center;
	}

	&__image {
		width: 90px;
		margin-right: 20px;
	}
	&__deletebtn {
		padding: 0;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		margin-right: 20px;

		svg {
			width: 25px;
			height: 25px;
		}
	}
	&__category {
		font-weight: 500;
		font-size: 12px;
		color: #9b9b9b;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&__name {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 10px;
	}
}

// .Item + .Item {
// 	margin-top: 30px;
// }
