img {
	display: block;
	width: 100%;
}

.Product {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
}

.Product__body {
	padding-top: 16px;
}

.Product__body h3 {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 5px;
}

@media (max-width: 768px) {
	.Product__body h3 {
		font-size: 16px;
	}
}

.Products__image {
	position: relative;

	img {
		height: 100%;
	}
}

.Products__imageBlock {
	position: relative;
	display: block;
	height: 355px;
}

.AddToWishlist {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	border: none;

	&:hover {
		background-color: #000;
	}
	svg {
		width: 24px;
		height: 24px;
	}

	&:hover svg {
		color: #fff;
	}
}

.BtnAddToCart {
	position: absolute;
	bottom: 20px;
	right: 0px;
	transform: translateX(-50%);
}
