.Item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #eeeeee;
	padding: 20px;
	margin-bottom: 20px;

	&__content {
		display: flex;
		align-items: center;
	}

	&__body {
		display: flex;
		align-items: flex-start;
		color: #000;
	}

	&__image {
		display: block;
		margin: 0 20px;
		max-width: 75px;
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
	}

	&__price {
		font-size: 14px;
		margin-top: 10px;
	}

	&__buttons {
		text-align: right;
	}

	&__delete {
		padding: 0;
		background-color: transparent;
		border: 0;
		cursor: pointer;

		svg {
			width: 25px;
			height: 25px;
		}
	}

	&__Btn {
		padding: 10px 20px;
		font-size: 14px;
	}
}
