


.Category__item {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.Category__overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
}

@media (max-width: 1200px) {
	.Category {
		margin-bottom: 70px;
	}
}

@media (max-width: 768px) {
	.Category {
		margin-bottom: 50px;
	}
}

